<h1>Search for GIFs</h1>
<form action="/">
  <input type="text" name="term" placeholder="regular GET search">
  <button type="submit">Search</button>
</form>

{{!-- SANITIZED SEARCH --}}
<form action="/" method="post">
  <input type="text" name="post_term" placeholder="Sanitized POST Search">
  <button type="submit">Sanitized Search</button>
  <p>You sanitize-searched for: <strong>{{ term }}</strong> </p>
</form>

{{#each gifs}}
  <div
    class="tenor-gif-embed"
    data-postid="{{this.id}}"
    data-share-method="host"
    data-width="500px"
    data-aspect-ratio="1.2266666666666666"
  >
    <a href="{{this.itemurl}}"></a>
    <a href="{{this.url}}"></a>
  </div>
  <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
{{/each}}
